$width:1080px;
$auto:0 auto;
$color:#fc584e;

//轮播图部分
.banner {
    width: 100%;
    background-color: black;
    margin-top: 20px;

    .slides {
        width: 1519px;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        .slide-list {
            position: absolute;
            left: 0;
            top: 0;

            li {
                float: left;
                position: relative;

                img {
                    width: 1920px;
                    height: 300px;
                }

                .apply {
                    margin-top: 47px;
                    position: absolute;
                    top: 0px;
                    right: 550px;

                    .title {
                        font-size: 30px;
                        color: white;
                        margin-bottom: 25px;
                    }

                    div.info {
                        font-size: 14px;
                        color: white;
                        margin-bottom: 20px;

                        span {
                            display: inline-block;
                            padding: 5px 10px;
                            color: white;
                            font-size: 14px;
                            margin-right: 5px;
                            background-color: rgba(255, 255, 255, .3);
                        }
                    }

                    .time {
                        font-size: 14px;
                        color: white;
                        margin-bottom: 15px;
                    }

                    .btn {
                        width: 242px;
                        height: 48px;
                        font-size: 24px;
                        color: white;
                        text-align: center;
                        line-height: 48px;
                        background-color: $color;
                    }
                }

                .move {
                    animation: move 2s linear;

                    @keyframes move {
                        0% {
                            right: 200px;
                            top: -400px;
                        }

                        100% {
                            right: 550px;
                            top: 0px;
                        }
                    }
                }
            }
        }

        .point {
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);

            span {
                float: left;
                font-size: 16px;
                padding: 5px 10px;
                background-color: #fc584e;
                color: white;
                margin-right: 10px;
                cursor: pointer;

                &:hover {
                    color: #fc584e;
                    background: white;
                }
            }

            .on {
                color: #fc584e;
                background: white;
            }
        }

        >span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 37px;
            height: 78px;
            cursor: pointer;
        }

        .next {
            right: 10px;
            background: url(./../img/next.png) no-repeat 0 0;
        }

        .prev {
            left: 10px;
            background: url(./../img/prev.png) no-repeat 0 0;
        }
    }
}

//热门试用
.hot-bar {

    .hot {
        width: $width;
        margin: $auto;
        margin-top: 30px;

        .title {
            font-size: 18px;

            font-weight: 600;
        }

        .hot-goods {
            margin-top: 24px;
            position: relative;

            .visib {
                width: 980px;
                height: 300px;
                overflow: hidden;
                margin: 0 auto;
                position: relative;

                .hot-list {
                    position: absolute;
                    left: -250px;
                    top: 0px;

                    li {
                        float: left;
                        width: 220px;
                        border: 1px solid #dfdfdf;
                        border-radius: 6px;
                        margin-right: 30px;
                        position: relative;
                        cursor: pointer;

                        img {
                            width: 218px;
                            height: 130px;
                            border-top-left-radius: 6px;
                            border-top-right-radius: 6px;
                        }

                        .message {
                            margin-top: 15px;
                            font-size: 14px;
                            text-align: center;
                            font-weight: 600;
                            line-height: 20px;
                            height: 40px;
                            padding: 0 5px;
                        }

                        p {
                            text-align: center;
                            margin-top: 15px;

                            span {
                                display: inline-block;
                                font-size: 12px;
                                padding: 5px 10px;
                                border-radius: 3px;

                                &:nth-child(1) {
                                    margin-right: 10px;
                                }

                            }
                        }

                        .num {
                            text-align: center;
                            margin-top: 10px;

                            span:nth-child(1) {
                                color: #ff4e21;
                                font-size: 14px;
                            }

                            span:nth-child(2) {
                                color: black;
                                font-size: 14px;
                            }
                        }

                        .time {
                            margin-top: 10px;
                            text-align: center;
                            font-size: 14px;
                            padding-bottom: 20px;
                        }

                        .log {
                            position: absolute;
                            top: 0px;
                            right: 0px;

                        }

                    }
                }
            }

            >span {
                width: 37px;
                height: 78px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }

            .next {
                background: url(./../img/next.png) no-repeat 0 0;
                right: 0px;
            }

            .prev {
                background: url(./../img/prev.png) no-repeat 0 0;
                left: 0px;
            }
        }
    }
}


// 报告精选
.new-bar {
    background: #f7f7f7;
    padding: 30px 0;
    margin-top: 30px;

    .new {
        width: $width;
        margin: $auto;

        .title {
            h1 {
                font-size: 18px;
                font-weight: 600;
                float: left;
            }

            .more {
                float: right;
                cursor: pointer;

                span:nth-child(2) {
                    font-size: 14px;
                    color: $color;
                    float: right;

                }

                span:nth-child(1) {
                    width: 12px;
                    height: 10px;
                    float: right;
                    background: url(./../img/readMore.png) no-repeat 0 0;
                    margin-top: 3px;
                    margin-left: 10px;
                    margin-right: 60px;
                }

            }


        }

        .new-list {
            margin-top: 5px;

            li {
                margin-top: 20px;
                float: left;
                width: 220px;
                border: 1px solid #dfdfdf;
                box-sizing: border-box;
                padding-bottom: 15px;
                border-radius: 6px;
                margin-right: 48px;
                transition: all .3s linear;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
                }

                img {
                    width: 218px;
                    height: 130px;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }

                p {
                    font-size: 14px;
                    padding: 0 5px;
                    margin-top: 12px;
                    line-height: 20px;
                    height: 30px;
                }

                .bottom {
                    margin-top: 25px;

                    .left {
                        float: left;
                        margin-left: 10px;

                        span:nth-child(1) {
                            width: 5px;
                            height: 5px;
                            display: inline-block;
                            background: #939aa2;
                            border-radius: 50%;
                            position: relative;
                            top: -2px;
                        }

                        span:nth-child(2) {
                            font-size: 12px;
                            color: #939aa2;
                        }
                    }

                    .right {
                        float: right;
                        margin-right: 10px;

                        span {
                            width: 20px;
                            height: 12px;
                            font-size: 12px;
                            padding-left: 12px;
                            display: inline-block;
                            color: #939aa2;
                            text-align: center;

                            &:first-child {
                                background: url(./../img/zan.png) no-repeat 0 0;
                            }

                            &:last-child {
                                background: url(./../img/reply.png) no-repeat 0 0;
                            }
                        }
                    }
                }
            }
        }

        .load {
            font-size: 14px;
            color: $color;
            font-weight: 600;
            text-align: center;
            line-height: 30px;
            padding: 10px 0;
            display: none;

            span {
                color: black;
                animation: deg 2s linear infinite;

                @keyframes deg {
                    0% {
                        transform: rotateZ(0deg);
                    }

                    100% {
                        transform: rotateZ(360deg);
                    }
                }
            }
        }

        .nomore {
            font-size: 16px;
            text-align: center;
            padding: 10px 0;
            display: none;
        }
    }
}

//导购精选
.guid-bar {
    background-color: white;
    margin-top: 30px;

    .guid {
        width: $width;
        margin: $auto;

        .title {
            h1 {
                font-size: 18px;
                font-weight: 600;
                float: left;
            }

            .guid_more {
                float: right;
                cursor: pointer;

                span:nth-child(2) {
                    font-size: 14px;
                    color: $color;
                    float: right;

                }

                span:nth-child(1) {
                    width: 12px;
                    height: 10px;
                    float: right;
                    background: url(./../img/readMore.png) no-repeat 0 0;
                    margin-top: 3px;
                    margin-left: 10px;
                    margin-right: 60px;
                }

            }


        }

        .guid-list {
            margin-top: 5px;

            li {
                margin-top: 20px;
                float: left;
                width: 220px;
                padding-bottom: 15px;
                margin-right: 48px;
                transition: all .3s linear;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
                }

                .info {
                    border: 1px solid #dfdfdf;
                    box-sizing: border-box;
                    border-radius: 6px;
                    padding-bottom: 20px;

                    img {
                        width: 218px;
                        height: 130px;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                    }

                    p {
                        font-size: 14px;
                        padding: 0 5px;
                        margin-top: 12px;
                        line-height: 20px;
                        height: 30px;
                    }

                    .bottom {
                        margin-top: 25px;

                        .left {
                            float: left;
                            margin-left: 10px;

                            span:nth-child(1) {
                                width: 5px;
                                height: 5px;
                                display: inline-block;
                                background: #939aa2;
                                border-radius: 50%;
                                position: relative;
                                top: -2px;
                            }

                            span:nth-child(2) {
                                font-size: 12px;
                                color: #939aa2;
                            }
                        }

                        .right {
                            float: right;
                            margin-right: 10px;

                            span {
                                width: 20px;
                                height: 12px;
                                font-size: 12px;
                                padding-left: 12px;
                                display: inline-block;
                                color: #939aa2;
                                text-align: center;

                                &:first-child {
                                    background: url(./../img/zan.png) no-repeat 0 0;
                                }

                                &:last-child {
                                    background: url(./../img/reply.png) no-repeat 0 0;
                                }
                            }
                        }
                    }
                }

                .line {
                    height: 12px;
                    background: url(./../img/listbg.jpg) no-repeat 0 0;

                }

            }
        }

        .guid_load {
            font-size: 14px;
            color: $color;
            font-weight: 600;
            text-align: center;
            line-height: 30px;
            padding: 10px 0;
            display: none;

            span {
                color: black;
                animation: deg 2s linear infinite;

                @keyframes deg {
                    0% {
                        transform: rotateZ(0deg);
                    }

                    100% {
                        transform: rotateZ(360deg);
                    }
                }
            }
        }

        .guid_nomore {
            font-size: 16px;
            text-align: center;
            padding: 10px 0;
            display: none;
        }
    }
}

//发现酷玩
.play-bar {
    background: #f7f7f7;
    padding: 30px 0;
    margin-top: 30px;

    .play {
        width: $width;
        margin: $auto;

        .title {
            h1 {
                font-size: 18px;
                font-weight: 600;
                float: left;
            }

            .more {
                float: right;
                cursor: pointer;

                span:nth-child(2) {
                    font-size: 14px;
                    color: $color;
                    float: right;

                }

                span:nth-child(1) {
                    width: 12px;
                    height: 10px;
                    float: right;
                    background: url(./../img/readMore.png) no-repeat 0 0;
                    margin-top: 3px;
                    margin-left: 10px;
                    margin-right: 60px;
                }

            }


        }

        .play-list {
            margin-top: 5px;

            li {
                margin-top: 20px;
                float: left;
                width: 220px;
                border: 1px solid #dfdfdf;
                box-sizing: border-box;
                padding-bottom: 15px;
                border-radius: 6px;
                margin-right: 48px;
                transition: all .3s linear;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
                }

                img {
                    width: 218px;
                    height: 130px;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }

                p:nth-child(2) {
                    font-size: 14px;
                    padding: 0 5px;
                    margin-top: 12px;
                    line-height: 20px;
                    height: 30px;
                }

                p:nth-child(3) {
                    font-size: 12px;
                    padding: 0 5px;
                    margin-top: 12px;
                    line-height: 20px;
                    color: #ccc;
                }

                .bottom {
                    margin-top: 25px;

                    .left {
                        float: left;
                        margin-left: 10px;
                        span:nth-child(1) {
                            font-size: 16px;
                            color: #ff4e21;
                        }
                    }

                    .right {
                        float: right;
                        margin-right: 10px;

                        span {
                            width: 20px;
                            height: 12px;
                            font-size: 12px;
                            padding-left: 12px;
                            display: inline-block;
                            color: #939aa2;
                            text-align: center;

                            &:first-child {
                                background: url(./../img/zan.png) no-repeat 0 0;
                            }

                            &:last-child {
                                background: url(./../img/reply.png) no-repeat 0 0;
                            }
                        }
                    }
                }
            }
        }

        .show-more{
            font-size: 16px;
            color: $color;
            text-align: center;
            margin-top: 40px ;
            padding: 10px 0;
            cursor: pointer;
            span{
                width: 16px;
                height: 8px;
                display: inline-block;
                background: url(./../img/more.png) no-repeat 0 0;
                margin-right: 5px;
            }
        }

        .load {
            font-size: 14px;
            color: $color;
            font-weight: 600;
            text-align: center;
            line-height: 30px;
            padding: 10px 0;
            display: none;

            span {
                color: black;
                animation: deg 2s linear infinite;

                @keyframes deg {
                    0% {
                        transform: rotateZ(0deg);
                    }

                    100% {
                        transform: rotateZ(360deg);
                    }
                }
            }
        }

        .nomore {
            font-size: 16px;
            text-align: center;
            padding-top: 20px;
            display: none;
        }
    }
}