.guid-bar {
  padding-bottom: 30px;
}

.guid-bar .top .title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}

.guid-bar .top .nav {
  text-align: center;
  margin-top: 20px;
}

.guid-bar .top .nav span {
  display: inline-block;
  height: 50px;
  line-height: 36px;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px 50px;
  color: #a3a1a2;
  margin-right: 20px;
  cursor: pointer;
}

.guid-bar .guid {
  background: #f7f7f7;
  padding-bottom: 30px;
}

.guid-bar .guid .guid-list {
  width: 1080px;
  margin: 0 auto;
}

.guid-bar .guid .guid-list li {
  margin-top: 30px;
  float: left;
  width: 220px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  padding-bottom: 15px;
  border-radius: 6px;
  margin-right: 48px;
  transition: all .3s linear;
}

.guid-bar .guid .guid-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.guid-bar .guid .guid-list li img {
  width: 218px;
  height: 130px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.guid-bar .guid .guid-list li p {
  font-size: 14px;
  padding: 0 5px;
  margin-top: 12px;
  line-height: 20px;
  height: 30px;
}

.guid-bar .guid .guid-list li .bottom {
  margin-top: 25px;
}

.guid-bar .guid .guid-list li .bottom .right {
  float: right;
  margin-right: 10px;
}

.guid-bar .guid .guid-list li .bottom .right span {
  width: 20px;
  height: 12px;
  font-size: 12px;
  padding-left: 12px;
  display: inline-block;
  color: #939aa2;
  text-align: center;
}

.guid-bar .guid .guid-list li .bottom .right span:first-child {
  background: url(./../../img/zan.png) no-repeat 0 0;
}

.guid-bar .guid .guid-list li .bottom .right span:last-child {
  background: url(./../../img/reply.png) no-repeat 0 0;
}

.guid-bar .guid .new-more,
.guid-bar .guid .hot-more,
.guid-bar .guid .more {
  font-size: 16px;
  color: #fc584e;
  text-align: center;
  margin-top: 40px;
  padding: 10px 0;
  cursor: pointer;
}

.guid-bar .guid .new-more span,
.guid-bar .guid .hot-more span,
.guid-bar .guid .more span {
  width: 16px;
  height: 8px;
  display: inline-block;
  background: url(./../../img/more.png) no-repeat 0 0;
  margin-right: 5px;
}

.guid-bar .guid .load {
  font-size: 14px;
  color: #fc584e;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  padding: 10px 0;
  display: none;
}

.guid-bar .guid .load span {
  color: black;
  animation: deg 2s linear infinite;
}

@keyframes deg {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.guid-bar .guid .new-nomore, .guid-bar .guid .hot-nomore {
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  display: none;
}
