.play-bar {
  padding-bottom: 30px;
}

.play-bar .top .title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}

.play-bar .top .nav {
  text-align: center;
  margin-top: 20px;
}

.play-bar .top .nav span {
  display: inline-block;
  height: 50px;
  line-height: 36px;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px 50px;
  color: #a3a1a2;
  margin-right: 20px;
  cursor: pointer;
}

.play-bar .play {
  background: #f7f7f7;
  padding-bottom: 30px;
}

.play-bar .play .play-list,
.play-bar .play .first {
  width: 1080px;
  margin: 0 auto;
}

.play-bar .play .play-list li,
.play-bar .play .first li {
  margin-top: 30px;
  float: left;
  width: 220px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  padding-bottom: 15px;
  border-radius: 6px;
  margin-right: 48px;
  transition: all .3s linear;
}

.play-bar .play .play-list li:hover,
.play-bar .play .first li:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.play-bar .play .play-list li img,
.play-bar .play .first li img {
  width: 218px;
  height: 130px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.play-bar .play .play-list li p:nth-child(2),
.play-bar .play .first li p:nth-child(2) {
  font-size: 14px;
  padding: 0 5px;
  margin-top: 12px;
  line-height: 20px;
  height: 30px;
}

.play-bar .play .play-list li p:nth-child(3),
.play-bar .play .first li p:nth-child(3) {
  font-size: 12px;
  padding: 0 5px;
  margin-top: 12px;
  line-height: 20px;
  color: #ccc;
}

.play-bar .play .play-list li .bottom,
.play-bar .play .first li .bottom {
  margin-top: 25px;
}

.play-bar .play .play-list li .bottom .left,
.play-bar .play .first li .bottom .left {
  float: left;
  margin-left: 10px;
}

.play-bar .play .play-list li .bottom .left span:nth-child(1),
.play-bar .play .first li .bottom .left span:nth-child(1) {
  font-size: 16px;
  color: #ff4e21;
}

.play-bar .play .play-list li .bottom .right,
.play-bar .play .first li .bottom .right {
  float: right;
  margin-right: 10px;
}

.play-bar .play .play-list li .bottom .right span,
.play-bar .play .first li .bottom .right span {
  width: 20px;
  height: 12px;
  font-size: 12px;
  padding-left: 12px;
  display: inline-block;
  color: #939aa2;
  text-align: center;
}

.play-bar .play .play-list li .bottom .right span:first-child,
.play-bar .play .first li .bottom .right span:first-child {
  background: url(./../img/zan.png) no-repeat 0 0;
}

.play-bar .play .play-list li .bottom .right span:last-child,
.play-bar .play .first li .bottom .right span:last-child {
  background: url(./../img/reply.png) no-repeat 0 0;
}

.play-bar .play .show-more,
.play-bar .play .hot-more,
.play-bar .play .more {
  font-size: 16px;
  color: #fc584e;
  text-align: center;
  margin-top: 40px;
  padding: 10px 0;
  cursor: pointer;
}

.play-bar .play .show-more span,
.play-bar .play .hot-more span,
.play-bar .play .more span {
  width: 16px;
  height: 8px;
  display: inline-block;
  background: url(./../img/more.png) no-repeat 0 0;
  margin-right: 5px;
}

.play-bar .play .load {
  font-size: 14px;
  color: #fc584e;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  padding: 10px 0;
  display: none;
}

.play-bar .play .load span {
  color: black;
  animation: deg 2s linear infinite;
}

@keyframes deg {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.play-bar .play .nomore, .play-bar .play .hot-nomore, .play-bar .play .no {
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  display: none;
}

.play-bar .type {
  margin-top: 50px;
  background: #f7f7f7;
  width: 100%;
  padding-top: 20px;
  display: none;
}

.play-bar .type .one {
  border: 1px solid #dfdfdf;
  width: 1080px;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.play-bar .type .one .sort {
  padding: 5px 0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
  border-left: 5px solid #fc584e;
}

.play-bar .type .one .icon {
  margin-top: 10px;
}

.play-bar .type .one .icon li {
  float: left;
  margin-left: 60px;
  margin-top: 30px;
}

.play-bar .type .one .icon li span {
  width: 96px;
  height: 96px;
  display: inline-block;
}

.play-bar .type .one .icon li:nth-child(1) > span {
  background: url(./../img/cat_1.png) no-repeat 0 0;
}

.play-bar .type .one .icon li:nth-child(2) > span {
  background: url(./../img/cat_2.png) no-repeat 0 0;
}

.play-bar .type .one .icon li:nth-child(3) > span {
  background: url(./../img/cat_3.png) no-repeat 0 0;
}

.play-bar .type .one .icon li:nth-child(4) > span {
  background: url(./../img/cat_4.png) no-repeat 0 0;
}

.play-bar .type .one .icon li:nth-child(5) > span {
  background: url(./../img/cat_5.png) no-repeat 0 0;
}

.play-bar .type .one .icon li:nth-child(6) > span {
  background: url(./../img/cat_6.png) no-repeat 0 0;
}

.play-bar .type .one .icon li:nth-child(7) > span {
  background: url(./../img/cat_7.png) no-repeat 0 0;
}

.play-bar .type .one .icon li:nth-child(8) > span {
  background: url(./../img/cat_8.png) no-repeat 0 0;
}

.play-bar .type .one .icon li p {
  font-size: 14px;
  color: #aca89f;
  text-align: center;
  margin-top: 10px;
}

.play-bar .type .one .text {
  border-top: 2px dashed #ccc;
  margin-top: 20px;
  padding-top: 10px;
}

.play-bar .type .one .text li {
  float: left;
  font-size: 14px;
  color: #aca89f;
  text-align: center;
  width: 120px;
  margin: 10px 0px 10px 40px;
  cursor: pointer;
}

.play-bar .type .one .text li:hover {
  color: #fc584e;
}

.play-bar .type .one:nth-child(2) .icon li:nth-child(1) > span {
  background: url(./../img/cat_9.png) no-repeat 0 0;
}

.play-bar .type .one:nth-child(2) .icon li:nth-child(2) > span {
  background: url(./../img/cat_10.png) no-repeat 0 0;
}

.play-bar .type .one:nth-child(2) .icon li:nth-child(3) > span {
  background: url(./../img/cat_11.png) no-repeat 0 0;
}

.play-bar .type .one:nth-child(3) .icon li:nth-child(1) > span {
  background: url(./../img/cat_7.png) no-repeat 0 0;
}

.play-bar .type .one:nth-child(3) .icon li:nth-child(2) > span {
  background: url(./../img/cat_6.png) no-repeat 0 0;
}

.play-bar .type .one:nth-child(3) .icon li:nth-child(3) > span {
  background: url(./../img/cat_8.png) no-repeat 0 0;
}
