.top .top-bar {
  width: 1080px;
  margin: 0 auto;
  margin-top: 20px;
}

.top .top-bar .logo {
  float: left;
}

.top .top-bar .logo a {
  display: inline-block;
}

.top .top-bar .logo a img {
  width: 130px;
  height: 50px;
}

.top .top-bar .nav {
  float: left;
  padding-top: 10px;
  margin-left: 20px;
}

.top .top-bar .nav li {
  float: left;
  width: 90px;
}

.top .top-bar .nav li a {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  color: #2c2c2c;
  line-height: 34px;
  text-align: center;
}

.top .top-bar .nav li a:hover {
  color: #fc584e;
}

.top .top-bar .search {
  float: left;
  margin-top: 8px;
}

.top .top-bar .search input {
  width: 300px;
  border: 2px solid #fc584e;
  padding: 5px 10px;
  height: 36px;
  margin-right: 5px;
}

.top .top-bar .search a {
  display: inline-block;
  font-size: 22px;
  position: relative;
  top: 3px;
  transition: all .2s linear;
}

.top .top-bar .search a:hover {
  color: #fc584e;
}

.top .top-bar .login {
  float: right;
  margin-top: 18px;
}

.top .top-bar .login span {
  padding: 3px 10px;
  border: 1px solid #fc584e;
  color: #fc584e;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  transition: all .2s linear;
}

.top .top-bar .login span:hover {
  color: white;
  background-color: #fc584e;
}

.top .shadow {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background: #d0d0d0;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);
}
